.about-application-list{
  margin-top: 15%;
  list-style-type: none;
  text-align: center;
  font-size: 1.3rem;
}
.about-application-list li{
  line-height: 1.5;
}
.about-application-name {
  font-weight: bold;
}
