.opfab-grouped-light-card-detail {
    color: var(--opfab-lightcard-detail-textcolor);
    margin-left: 14px;
    margin-right: 10px;
}

.opfab-grouped-row {
    background-color: var(--opfab-bgcolor);
    padding-top: 10px;
}
