<ng-container [formGroup]="datetimeForm">
    <div class="col-md-3">
        <div class="form-group">
            <label for="date" translate>feed.filters.time.start.label</label>
            <input class="form-control" type="text" ngbDatepicker #nsd="ngbDatepicker" id="date" formControlName="date" (focus)="nsd.toggle()"
            placeholder="YYYY-MM-DD"/>
        </div>
        </div>
        <div class="col-md-1">
        <ngb-timepicker formControlName="time" size='small'></ngb-timepicker>
    </div>
</ng-container>
