.nomarginrow {
    margin-left:0;
    margin-right:0;
  }
  .nopaddingrow {
    padding-right:0;
    padding-left:0;
  }
  legend.accessibility {
    position:absolute;
    left:-9999px;
    width:100px;
    height:auto;
    overflow:hidden;
}