<ng-container [formGroup]="datetimeForm">
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="date" translate>archive.filters.{{filterPath}}</label>
            <input (change)="onChange($event)" class="form-control" type="text" ngbDatepicker #nsd="ngbDatepicker" id="date" formControlName="date" (focus)="nsd.toggle()"
            placeholder="YYYY-MM-DD"/>
        </div>
    <fieldset [disabled]="disabled" class="col-md-4" >
        <ngb-timepicker [(ngModel)]="time" formControlName="time" size='small'></ngb-timepicker>
    </fieldset>
    </div>
</ng-container>
