<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" [ngClass]="{'is-invalid': userForm.hasError('authentication.error')}" >
                <div class="form-group login-form">
                    <label for="identifier">Identifier</label>
                    <input type="text" formControlName="identifier" class="form-control"/>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" [disabled]="userForm.invalid"
                                i18n="Login button label|Label for login button@@LoginButtonLabel">Login
                        </button>
                        <button type="reset" class="btn btn-primary" (click)="resetForm()"
                                [disabled]="userForm.untouched"
                                i18n="Reset button label|Label for reset button@@ResetButtonLabel">Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>