<br />
<h2 style="text-align: center;"> {{card.data.question}} </h2>

<br />

<div class="opfab-input">
    <label> REPONSE </label>
    <input id="response" name="reponse">
</div>


<br/>
<br/>
<div id="childs-div"></div>
<br/>
 <div id="entities-div"> </div>
<br/>
 <div id="response-entity-div"> </div>


<script>
    if (templateGateway.getDisplayContext() != 'realtime' ) {
       document.getElementById("response").disabled = true;
    }
    templateGateway.applyChildCards = () => {

        if (templateGateway.childCards[0]) {
            let childsDiv = document.getElementById("childs-div");
            let responses = ' <h3>Responses reçues</h3><center> <br/>'
            responses += ' <table width="100%""> <tr> <th> Entité </th>';
            responses += ' <th> Réponse </th>';
            responses += ' </tr>';

            templateGateway.childCards.forEach((c, i) => {
                responses += `<tr> <td> ${c.publisher} </td>`
                responses += `<td> ${c.data.response} </td>`;
                responses += "</tr>";
            });

            responses += '</table> </center> <br/> <br/>';

            childsDiv.innerHTML = responses;
        }
    }

    templateGateway.getUserResponse = function () {
        const response = document.getElementById('response').value;
        const responseCardData = { response: response };
        return {
            valid: true,
            responseCardData: responseCardData
        };

    }


    function loadEntitiesList () {
        let entitiesDiv = document.getElementById("entities-div");
        let text = "Entitiés autorisées à répondre  : ";
        let entities = templateGateway.getEntitiesAllowedToRespond();
        entities.forEach( 
            id => {
                text += "&nbsp; &nbsp; &nbsp;";
                text +=  templateGateway.getEntityName(id);
                }
        );
        // if it is in card preview (usercard) , the template gateway does not contain the list 
        // so we show nothing
        if (entities.length>0) entitiesDiv.innerHTML = text;
    }
    loadEntitiesList();

    function loadEntityUsedForResponse() {
        let responseEntityDiv = document.getElementById("response-entity-div");
        let responseEntity = templateGateway.getEntityUsedForUserResponse();
        let userAllowedToRespond = templateGateway.isUserAllowedToRespond();
        if (userAllowedToRespond && responseEntity) 
            responseEntityDiv.innerHTML = "Entité utilisée par l'utilisateur pour répondre : " +  templateGateway.getEntityName(responseEntity);;
    }
    loadEntityUsedForResponse();
</script>

</p>