<h4 style="text-align:center">
    Prévision journalière de consommation électrique
</h4>
<div style="position: relative; height:65%; width:65%;margin:auto">
    <canvas id="myChart"></canvas>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var opfabColor = getComputedStyle(document.body).getPropertyValue('--opfab-text-color');

    if (window.myChart instanceof Chart) {
        window.myChart.destroy();
    }

    window.myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['0h', '4h', '8h', '12h', '16h', '20h', '24h'],
            datasets: [{
                label: 'Consommation électrique',
                data: [{{card.data.values}}],
            fill: false,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            tension: 0.4
        }]
    },
        options: {
        maintainAspectRatio: true,
        scales: {
            y: {
                beginAtZero: true,
                grid: {color: 'rgba(100,100,100,0.2)'},
                ticks: {
                    color: opfabColor
                }
            },
            x: {
                grid: {color: 'rgba(100,100,100,0.2)'},
                ticks: {
                    color: opfabColor
                }
            }
        }
    }
});

</script>