

<form id='question-form'>
   <div class="form-group">
      <h4>Indisponibilité de 2 heures à prévoir pour la ligne HVDC France-Angleterre</h4>
      <br/>
       Merci de confirmer les créneaux qui vous conviennent:  <br/><br/>
       <label class="opfab-checkbox" style="margin-left:40px"> Le 10/08/2020 entre 8h and 10h <input  type="checkbox" id="choice1" name="choice1" >  <span id="question-choice1" class="opfab-checkbox-checkmark"> </span> </label>
       <label class="opfab-checkbox" style="margin-left:40px"> Le 10/08/2020 entre 10h and 12h <input  type="checkbox" id="choice2" name="choice2" >  <span id="question-choice2" class="opfab-checkbox-checkmark"> </span> </label>
       <label class="opfab-checkbox" style="margin-left:40px"> Le 11/08/2020 entre 8h and 10h  <input  type="checkbox" id="choice3" name="choice3" >  <span id="question-choice3" class="opfab-checkbox-checkmark"> </span> </label>
    </div>
    <div id="responseRequired"></div>
    <div id="responseDisabled" class="opfab-color-danger"></div>
</form> 

<br/>
<br/>


<div id="childs-div"></div>

<script>

  templateGateway.applyChildCards = () => {
    if (templateGateway.childCards[0])
    {
    let childsDiv = document.getElementById("childs-div");
    let responses  = '<center> <h4>Réponses reçues </h4> <br/>';
    responses += ' <table width="100%""> <tr> <th> Entity </th>';
    responses += ' <th> 10/08/2020 8h-10h </th>';
    responses += ' <th> 10/08/2020 10h-12h </th>';
    responses += ' <th> 11/08/2020 8h-10h </th>';
    responses += ' </tr>';
     
   templateGateway.childCards.forEach( (c, i) => {
      const entityName = templateGateway.getEntityName(c.publisher);
      responses += `<tr> <td id="response_from_${c.publisher}"> ${entityName} </td>`;
      if (c.data.choice1) responses += "<td> OK </td>";
      else responses  += "<td> NOK </td>";
      if (c.data.choice2) responses += "<td> OK </td>";
      else responses += "<td> NOK </td>";
     if (c.data.choice3) responses += "<td> OK </td>";
      else responses += "<td> NOK </td>";
      responses += "</tr>";
    }); 

     responses += '</table> </center> <br/> <br/>';


     childsDiv.innerHTML = responses ; 
    }
  };


  templateGateway.getUserResponse = function() {

    const responseCardData = {};
    const formElement = document.getElementById('question-form');
    for (const [key, value] of [... new FormData(formElement)]) {
        (key in responseCardData) ? responseCardData[key].push(value) : responseCardData[key] = [value];
    }

    const result = {
        valid: true,
        responseCardData: responseCardData
    };

      // If the user chose several options, we decide to move the process to a specific state, for example to ask a
      // follow-up question (what's their preferred option).
    const choiceRequiresFollowUp = Object.entries(responseCardData).length>1;
    if(choiceRequiresFollowUp) result['responseState'] = 'multipleOptionsResponseState';

    return result;

    };

  templateGateway.lockAnswer = function() {
      document.getElementById('choice1').disabled = true;
      document.getElementById('choice2').disabled = true;
      document.getElementById('choice3').disabled = true;
  };

  templateGateway.unlockAnswer = function() {
      document.getElementById('choice1').disabled = false;
      document.getElementById('choice2').disabled = false;
      document.getElementById('choice3').disabled = false;

  };

  templateGateway.setLttdExpired = function(expired) {
      const responseEnabled = document.getElementById('responseDisabled');
      if (responseEnabled != null) {
        if (expired) {
          const responseRequired = document.getElementById('responseRequired');
            if (responseRequired != null) {
              responseRequired.innerHTML="";
            }
            responseEnabled.innerHTML="Le temps de réponse a expiré";
            templateGateway.lockAnswer();
        } else {
            responseEnabled.innerHTML="";
            templateGateway.unlockAnswer();
        }
      }
  }


  if (templateGateway.isUserMemberOfAnEntityRequiredToRespond()) {

      const responseRequired = document.getElementById('responseRequired');
      if (responseRequired != null) {
        responseRequired.innerHTML="Réponse obligatoire";
      }
  } else {
      if (responseRequired != null) {
        responseRequired.innerHTML="";
      }
  }

</script>


