.filter-input{
    position: absolute;
    opacity: 0;
}

/*.filter-input:checked + table{*/
    /*border: 1px solid red;*/
/*}*/

.filter-input:checked + table .filterout{
    display:none;
}

.filter-input:checked + table .fa-ban{
    display:none;
}