
# uncomment kafka.consumer.group-id to enable Kafka
#  kafka:
#    consumer:
#      group-id: opfab-command

#  VALUE FOR TESTING
#  TO BE REMOVE FOR PRODUCTION MODE
#
operatorfabric:
  cards-publication:
    external-recipients:
      recipients:
        - id: "processAction"
          url: "http://ext-app:8090/test"
          propagateUserToken: true
        - id: "api_test_externalRecipient1"
          url: "http://ext-app:8090/test"
          propagateUserToken: true
        - id: "api_test_externalRecipient2"
          url: "http://ext-app:8090/test"
          propagateUserToken: true
        - id: "externalRecipient1"
          url: "http://ext-app:8090/test"
          propagateUserToken: true
        - id: "externalRecipient2"
          url: "http://ext-app:8090/test"
          propagateUserToken: true
        - id: "notFoundExternalRecipient"
          url: "http://ext-app:8090/wrongpath"
          propagateUserToken: true
        - id: "invalidUrlExternalRecipient"
          url: "notaurl/test"
          propagateUserToken: true
        - id: "connectionRefusedExternalRecipient"
          url: "http://ext-app:8091/test"
          propagateUserToken: true

#logging.level.org.opfab: debug