version: '2.1'
services:
  mongodb:
    image: mongo:4.4.4-bionic
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
  rabbitmq:
    image: rabbitmq:3-management
#    Port closed for security reasons , be careful if you open it 
#    ports:
#      - "5672:5672"
#      - "15672:15672"
  keycloak:
    image: jboss/keycloak:12.0.4
    command: -Dkeycloak.migration.action=import -Dkeycloak.migration.provider=dir -Dkeycloak.migration.dir=/keycloak/export -Dkeycloak.profile.feature.upload_scripts=enabled
    environment:
    - KEYCLOAK_USER=admin
    - KEYCLOAK_PASSWORD=admin
    - DB_VENDOR=H2
    volumes:
    - ../keycloak:/keycloak
    ports:
    - "89:8080"
#    Debug port closed for security reasons, be careful if you open it 
#    - "90:9990"
  users:
    container_name: users
    image: "lfeoperatorfabric/of-users-business-service:2.6.0.RELEASE"
    depends_on:
      - mongodb
      - rabbitmq
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2103:8080"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4103:5005"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
    - "../certificates:/certificates_to_add"
    - "./users-docker.yml:/config/application.yml"
    - "./common-docker.yml:/config/common-docker.yml"
    - ${CONFIG_PATH}:/external-config
  businessconfig:
    container_name: businessconfig
    image: "lfeoperatorfabric/of-businessconfig-business-service:2.6.0.RELEASE"
    depends_on:
      - mongodb
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2100:8080"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4100:5005"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
     - "../certificates:/certificates_to_add"
     - "./businessconfig-storage:/businessconfig-storage"
     - "./common-docker.yml:/config/common-docker.yml"
     - "./businessconfig-docker.yml:/config/application-docker.yml"
     - ${CONFIG_PATH}:/external-config
  cards-publication:
    container_name: cards-publication
    image: "lfeoperatorfabric/of-cards-publication-business-service:2.6.0.RELEASE"
    depends_on:
      - mongodb
      - rabbitmq
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2102:8080"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4102:5005"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common-docker.yml:/config/common-docker.yml"
      - "./cards-publication-docker.yml:/config/application-docker.yml"
      - ${CONFIG_PATH}:/external-config
  cards-consultation:
    container_name: cards-consultation
    image: "lfeoperatorfabric/of-cards-consultation-business-service:2.6.0.RELEASE"
    depends_on:
      - mongodb
      - rabbitmq
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2104:8080"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4104:5005"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common-docker.yml:/config/common-docker.yml"
      - "./cards-consultation-docker.yml:/config/application-docker.yml"
      - ${CONFIG_PATH}:/external-config
  web-ui:
    image: "lfeoperatorfabric/of-web-ui:2.6.0.RELEASE"
    ports:
    - "2002:80"
    depends_on:
      - users
      - businessconfig
      - cards-consultation
    volumes:
      - "./web-ui.json:/usr/share/nginx/html/opfab/web-ui.json"
      - "./ui-menu.json:/usr/share/nginx/html/opfab/ui-menu.json"
      - "./nginx.conf:/etc/nginx/conf.d/default.conf"
  ext-app:
# External application example, must not be activated in production mode
    image: "lfeoperatorfabric/of-external-app:2.6.0.RELEASE"
    ports:
      - "8090:8090"
