version: '2.1'
services:
  mongodb:
    image: mongo:5.0.17-focal
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - "./mongodump:/dump"
  rabbitmq:
    container_name: rabbit
    image: rabbitmq:3-management
    hostname: rabbit

#  If you want to persist queue after rabbit docker container removal mount 
#  a volume to store persistance data 
#  WARNING : On Kubernetes , as pod are destroy , it is 
#  necessary to persist queue . Otherwise in case of restart of 
#  the rabbit pod, the connection with cards-consultation will be lost
#
#    volumes:
#      - "./rabbit-persistance:/var/lib/rabbitmq/mnesia/"


#    Port closed for security reasons , be careful if you open it 
#    ports:
#      - "5672:5672"
#      - "15672:15672"
  keycloak:
    image: quay.io/keycloak/keycloak:19.0.3-legacy
    command: -Dkeycloak.migration.action=import -Dkeycloak.migration.provider=dir -Dkeycloak.migration.dir=/keycloak/export -Dkeycloak.profile.feature.upload_scripts=enabled
# -Dkeycloak.profile.feature.upload_scripts=enabled is only used for tests with version 12 from keycloak
    environment:
    - KEYCLOAK_USER=admin
    - KEYCLOAK_PASSWORD=admin
    - DB_VENDOR=H2
    volumes:
    - ../keycloak:/keycloak
    ports:
    - "89:8080"
#    Debug port closed for security reasons, be careful if you open it 
#    - "90:9990"
  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - 1025:1025
      - 8025:8025
  users:
    container_name: users
    image: "lfeoperatorfabric/of-users-service:SNAPSHOT"
    depends_on:
      - mongodb
      - rabbitmq
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2103:8080"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4103:5005"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
    - "../certificates:/certificates_to_add"
    - "./users-docker.yml:/config/application.yml"
    - "./common-docker.yml:/config/common-docker.yml"
    - ${CONFIG_PATH}:/external-config
  businessconfig:
    container_name: businessconfig
    image: "lfeoperatorfabric/of-businessconfig-service:SNAPSHOT"
    depends_on:
      - mongodb
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2100:8080"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4100:5005"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
     - "../certificates:/certificates_to_add"
     - "./businessconfig-storage:/businessconfig-storage"
     - "./common-docker.yml:/config/common-docker.yml"
     - "./businessconfig-docker.yml:/config/application-docker.yml"
     - ${CONFIG_PATH}:/external-config
  cards-publication:
    container_name: cards-publication
    image: "lfeoperatorfabric/of-cards-publication-service:SNAPSHOT"
    depends_on:
      - mongodb
      - rabbitmq
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2102:8080"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4102:5005"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common-docker.yml:/config/common-docker.yml"
      - "./cards-publication-docker.yml:/config/application-docker.yml"
      - ${CONFIG_PATH}:/external-config
  cards-consultation:
    container_name: cards-consultation
    image: "lfeoperatorfabric/of-cards-consultation-service:SNAPSHOT"
    depends_on:
      - mongodb
      - rabbitmq
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2104:8080"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4104:5005"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common-docker.yml:/config/common-docker.yml"
      - "./cards-consultation-docker.yml:/config/application-docker.yml"
      - ${CONFIG_PATH}:/external-config
  web-ui:
    container_name: web-ui
    image: "lfeoperatorfabric/of-web-ui:SNAPSHOT"
    ports:
    - "2002:80"
    depends_on:
      - users
      - businessconfig
      - cards-consultation
    volumes:
      - "./ui-config:/usr/share/nginx/html/opfab"
      - "./nginx.conf:/etc/nginx/conf.d/default.conf"
      - "../../src/test/externalWebAppExample:/usr/share/nginx/html/external/appExample"
  cards-external-diffusion:
    container_name: cards-external-diffusion
    image: "lfeoperatorfabric/of-cards-external-diffusion-service:SNAPSHOT"
    depends_on:
      - cards-consultation
      - web-ui
      - users
      - mailhog
    user: ${USER_ID}:${USER_GID}
    ports:
      - "3100:3100"

# Uncomment the line below to customize sounds for notification
#     - "./custom-sounds:/usr/share/nginx/html/assets/sounds"
  external-devices:
    container_name: external-devices
    image: "lfeoperatorfabric/of-external-devices-service:SNAPSHOT"
    depends_on:
      - mongodb
      - users
    user: ${USER_ID}:${USER_GID}
    ports:
      - "2105:8080"
    #    Debug port closed for security reasons, be careful if you open it
    #     - "4105:5005"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common-docker.yml:/config/common-docker.yml"
      - "./external-devices-docker.yml:/config/application-docker.yml"
      - ${CONFIG_PATH}:/external-config

#### Dummy services for dev/tests purposes - NOT FOR PRODUCTION ####
# External application example
  ext-app:
    container_name: external-app
    image: "lfeoperatorfabric/of-external-app:SNAPSHOT"
    ports:
      - "8090:8090"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common-docker.yml:/config/common-docker.yml"
      - "./external-app-docker.yml:/config/application-docker.yml"
      - ${CONFIG_PATH}:/external-config
# Dummy external devices using Modbus Protocol
  dummy-modbus-device_1:
    container_name: dummy-modbus-device_1
    image: "lfeoperatorfabric/of-dummy-modbus-device:SNAPSHOT"
    user: ${USER_ID}:${USER_GID}
    ports:
      - "4031:4030"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common-docker.yml:/config/common-docker.yml"
      - "./dummy-modbus-device-docker.yml:/config/application-docker.yml"
      - ${CONFIG_PATH}:/external-config
  dummy-modbus-device_2:
    container_name: dummy-modbus-device_2
    image: "lfeoperatorfabric/of-dummy-modbus-device:SNAPSHOT"
    user: ${USER_ID}:${USER_GID}
    ports:
      - "4032:4030"
    environment:
      - SPRING_PROFILES_ACTIVE
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common-docker.yml:/config/common-docker.yml"
      - "./dummy-modbus-device-docker.yml:/config/application-docker.yml"
      - ${CONFIG_PATH}:/external-config
