version: '2.1'
services:
  mongodb:
    image: mongo:5.0.25-focal
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - "./mongodump:/dump"
  rabbitmq:
    container_name: rabbit
    image: lfeoperatorfabric/of-rabbitmq:SNAPSHOT
    hostname: rabbit


#  If you want to persist queue after rabbit docker container removal mount 
#  a volume to store persistance data 
#  WARNING : On Kubernetes , as pod are destroy , it is 
#  necessary to persist queue . Otherwise in case of restart of 
#  the rabbit pod, the connection with cards-consultation will be lost
#
#    volumes:
#      - "./rabbit-persistance:/var/lib/rabbitmq/mnesia/"

#    !!! WARNING !!! 
#    Port is to be closed for security reasons , be careful if you open it 
#    Port open here for dev only
    ports:
       - "5672:5672"
#      - "15672:15672"

#    If you open the port, you must change default user and password as follow
#    environment: 
#    - RABBITMQ_DEFAULT_USER=default_user
#    - RABBITMQ_DEFAULT_PASS=password

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:23.0
    environment:
      # Enable health and metrics support
      - KC_HTTP_PORT=89
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HTTP_RELATIVE_PATH=/auth
    volumes:
      - ../keycloak/export:/opt/keycloak/data/import
    command:
      - -v
      - start-dev 
      - --import-realm
    ports:
      - "89:89"
  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - 1025:1025
      - 8025:8025
  users:
    container_name: users
    image: "lfeoperatorfabric/of-users-service:SNAPSHOT"
    depends_on:
      - mongodb
      - rabbitmq
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2103:2103"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4103:5005"
    volumes:
    - "../certificates:/certificates_to_add"
    - "./users.yml:/config/application.yml"
    - "./common.yml:/config/common.yml"
    - ${CONFIG_PATH}:/external-config
  businessconfig:
    container_name: businessconfig
    image: "lfeoperatorfabric/of-businessconfig-service:SNAPSHOT"
    depends_on:
      - mongodb
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2100:2100"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4100:5005"
    volumes:
     - "../certificates:/certificates_to_add"
     - "./businessconfig-storage:/businessconfig-storage"
     - "./common.yml:/config/common.yml"
     - "./businessconfig.yml:/config/application.yml"
     - ${CONFIG_PATH}:/external-config
  cards-publication:
    container_name: cards-publication
    image: "lfeoperatorfabric/of-cards-publication-service:SNAPSHOT"
    depends_on:
      - mongodb
      - rabbitmq
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2102:2102"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4102:5005"
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common.yml:/config/common.yml"
      - "./cards-publication.yml:/config/application.yml"
      - ${CONFIG_PATH}:/external-config
  cards-consultation:
    container_name: cards-consultation
    image: "lfeoperatorfabric/of-cards-consultation-service:SNAPSHOT"
    depends_on:
      - mongodb
      - rabbitmq
    user: ${USER_ID}:${USER_GID}
    ports:
     - "2104:2104"
#    Debug port closed for security reasons, be careful if you open it 
#     - "4104:5005"

    volumes:
      - "../certificates:/certificates_to_add"
      - "./common.yml:/config/common.yml"
      - "./cards-consultation.yml:/config/application.yml"
      - ${CONFIG_PATH}:/external-config
  web-ui:
    container_name: web-ui
    image: "lfeoperatorfabric/of-web-ui:SNAPSHOT"
    ports:
    - "2002:80"
    depends_on:
      - users
      - businessconfig
      - cards-consultation
    volumes:
      - "./ui-config:/usr/share/nginx/html/config"
      - "./nginx.conf:/etc/nginx/conf.d/default.conf"
      - "../../src/test/externalWebAppExample:/usr/share/nginx/html/external/appExample"
  cards-external-diffusion:
    container_name: cards-external-diffusion
    image: "lfeoperatorfabric/of-cards-external-diffusion-service:SNAPSHOT"
    depends_on:
      - cards-consultation
      - web-ui
      - users
      - mailhog
    user: ${USER_ID}:${USER_GID}
    ports:
      - "2106:2106"
    environment:
      - NODE_ENV=base,common,docker
    volumes:
      - "./cards-external-diffusion.yml:/usr/app/config/docker.yml"
      - "./common.yml:/usr/app/config/common.yml"
  cards-reminder:
    container_name: cards-reminder
    image: "lfeoperatorfabric/of-cards-reminder:SNAPSHOT"
    depends_on:
      - cards-publication
      - users
    user: ${USER_ID}:${USER_GID}
    ports:
      - "2107:2107"
    environment:
      - TZ=Europe/Paris
      - NODE_ENV=base,common,docker
    volumes:
      - "./cards-reminder.yml:/usr/app/config/docker.yml"
      - "./common.yml:/usr/app/config/common.yml"
  supervisor:
    container_name: supervisor
    image: "lfeoperatorfabric/of-supervisor:SNAPSHOT"
    depends_on:
      - cards-publication
      - users
    user: ${USER_ID}:${USER_GID}
    ports:
      - "2108:2108"
    environment:
      - TZ=Europe/Paris
      - NODE_ENV=base,common,docker
    volumes:
      - "./supervisor.yml:/usr/app/config/docker.yml"
      - "./common.yml:/usr/app/config/common.yml"
# Uncomment the line below to customize sounds for notification
#     - "./custom-sounds:/usr/share/nginx/html/assets/sounds"
  external-devices:
    container_name: external-devices
    image: "lfeoperatorfabric/of-external-devices-service:SNAPSHOT"
    depends_on:
      - mongodb
      - users
    user: ${USER_ID}:${USER_GID}
    ports:
      - "2105:2105"
    #    Debug port closed for security reasons, be careful if you open it
    #     - "4105:5005"
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common.yml:/config/common.yml"
      - "./external-devices.yml:/config/application.yml"
      - ${CONFIG_PATH}:/external-config

#### Dummy services for dev/tests purposes - NOT FOR PRODUCTION ####
# External application example
  ext-app:
    container_name: external-app
    image: "lfeoperatorfabric/of-external-app:SNAPSHOT"
    ports:
      - "8090:8090"
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common.yml:/config/common.yml"
      - ${CONFIG_PATH}:/external-config
# Dummy external devices using Modbus Protocol
  dummy-modbus-device_1:
    container_name: dummy-modbus-device_1
    image: "lfeoperatorfabric/of-dummy-modbus-device:SNAPSHOT"
    user: ${USER_ID}:${USER_GID}
    ports:
      - "4031:4030"
    volumes:
      - "../certificates:/certificates_to_add"
      - ${CONFIG_PATH}:/external-config
  dummy-modbus-device_2:
    container_name: dummy-modbus-device_2
    image: "lfeoperatorfabric/of-dummy-modbus-device:SNAPSHOT"
    user: ${USER_ID}:${USER_GID}
    ports:
      - "4032:4030"
    volumes:
      - "../certificates:/certificates_to_add"
      - ${CONFIG_PATH}:/external-config
