

<div class="app-content" calcHeightDirective fixedHeightClass="fixed-height-main-layout" calcHeightClass="calc-height-main-layout">
    <of-navbar *ngIf="isAuthenticated$"></of-navbar>
    <router-outlet *ngIf="isAuthenticated$ && configLoaded" ></router-outlet>
    <of-login *ngIf="!isAuthenticated$ && configLoaded"></of-login>
    <div *ngIf="!configLoaded">
    <span *ngIf="!maxedRetries">
        Application is loading ...
    </span>
        <span *ngIf="maxedRetries">
        Application is not available yet, please reload later (F5)
    </span>
    </div>
</div>
