<form id='opfab-form'>
  <div class="form-row mt-3">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Mot de passe</label>
      <input type="password" class="form-control" id="inputPassword4" name='password' placeholder="">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Adresse</label>
      <input type="text" class="form-control" id="inputAddress" name="address" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="inputCompany">Société</label>
      <select id="inputCompany" name="company" class="form-control" size="4" multiple>
          <option selected>Société 1</option>
          <option>Société 2</option>
          <option>Société 3</option>
          <option>Société 4</option>
        </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Ville</label>
      <input type="text" class="form-control" id="inputCity" name="city">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Etat</label>
      <select id="inputState" name="state" class="form-control">
        <option selected>Etat 1</option>
        <option>Etat 2</option>
        <option>Etat 3</option>
        <option>Etat 4</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Code postal</label>
      <input type="text" class="form-control" id="inputZip" name='zip'>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" name='gridCheck'>
      <label class="form-check-label" for="gridCheck">
        Check moi
      </label>
    </div>
  </div>
</form>

<script>

  function validateEmail(email) {
    const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}

  ext_form.validyForm = function(formData) {
    if (validateEmail(formData.email[0])) {
      this.isValid = true;
    } else {
      this.formErrorMsg = "L'email est incorrect";
      this.isValid = false;
    }
  }

</script>