.modal-body{
  background-color: var(--opfab-lightcard-detail-bgcolor);
  color: var(--opfab-lightcard-detail-textcolor);
}


.modal-header{
  background-color: var(--opfab-lightcard-detail-bgcolor);
  color: var(--opfab-lightcard-detail-textcolor);
}

.btn{
  color: var(--opfab-lightcard-detail-textcolor);
}
