

<h4 style="text-align:center">
A Chart
</h4>


<table width="100%">
    <tr> 
        <td width="25%"></td>
<td><canvas id="myChart" width='400' height='230' ></canvas> </td>
<td  width="25%"></td>
    </tr>
</table>

<!-- test for calling business application from a card -->
<br/>
<br/>
<!-- The below 'tag' comment (and matching end tag) is directed at asciidoctor to include this snippet as an example
in the documentation, it should not be used in actual templates. -->
<!-- tag::templateGateway.redirectToBusinessMenu_example[] -->
<a href="javascript:templateGateway.redirectToBusinessMenu('menu1','uid_test_0','search=chart&fulltext=1')"> Want more information about charts ? </a>
<!-- end::templateGateway.redirectToBusinessMenu_example[] -->
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data : [{{card.data.values}}],
            backgroundColor: [
                'red',
                'blue',
                'yellow',
                'green',
                'purple',
                'orange'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
