* {
  color: black;
}

.timeline {
  height: 150px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

  of-custom-timeline-chart {
    max-height: 100px;
    margin-bottom: 40px;
  }

  .menu-timeline {
    position: relative;
    max-height: 40px;
    padding-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .home-btn {
      position: absolute;
      align-self: flex-start;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: none;
      opacity:0.7;
      left: -25px;
      padding: 1px;
    }

    #btn-menu-timeline {
      position: absolute;
      flex-grow: 1;
      right: 30px;
      font-size: 12px;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        opacity:0.7;


        li {
          button {
            list-style: none;
            width: 25px;
            height: 25px;
            padding: 1px;
            color: black;
            font-weight: bold;
          }

          .btn-selected {
            background-color: black;
            color: white;
          }

          .btn-unselect {
            background-color: rgb(221, 221, 221);
          }

          .circle-btn {
            border-radius: 50%;
            border: none;
          }
        }
      }
    }
  }
