

        <div style="width:100%">
            <label for="message">Message</label>
        </div>
        <div style="width:100%">
            <textarea  id="message" name="message" placeholder="Ecrire un message ..." style="width:100%" > {{card.data.message}} </textarea>
        </div>


<script>
    templateGateway.getSpecificCardInformation = function () {
        const message = document.getElementById('message').value;
        const card = {
        summary : {key : "message.summary"},
		title : {key : "message.title"},
        data : {message: message}
        };
        return {
            valid: true,
            card: card
        };

    }
</script>