<!-- Copyright (c) 2020, RTE (http://www.rte-france.com)              -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->


<div style="width:100%;display:flex;flex-wrap:wrap">  
    <div class="opfab-select" style="flex-basis:0;width:100%;position:relative;flex-grow:1;margin-right:20px">

        <label> ETAT DU PROCESSUS</label>
        <select name="state" id="state">
            <option value="">--Choisissez une option--</option>
            <option value="start">Started  </option>
            <option value="calcul1">Calcul 1 done </option>
            <option value="calcul2">Calcul 2 done </option>
            <option value="calcul3">Calcul 3 done 
            </option>
        </select>

    </div>

   <div class="opfab-select"  style="flex-basis:0;width:100%;position:relative;flex-grow:1;margin-left:20px">
       <label > STATUT DE L"ETAT  </label>
        <select name="status" id="status">
            <option value="">--Choisissez une option--</option>
            <option value="ok"> Ok </option>
            <option value="error">Error </option>
        </select>

    </div>
</div>


<script>
    selectedProcessState = "{{card.data.state}}";
    if (selectedProcessState.length >0) document.getElementById('state').value = selectedProcessState; 
    templateGateway.getSpecificCardInformation = function () {
        const state = document.getElementById('state').value;
        const card = {
            summary: { key: "message.summary" },
            title: { key: "processState.title" },
            data: { state: state }
        };
        return {
            valid: true,
            card: card
        };

    }
</script>