
<!-- Copyright (c) 2020, RTE (http://www.rte-france.com)              -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->


<div>
<div class="opfab-input">
    <div class="opfab-input">
    <label> QUESTION </label>
    <input id="question" name="question" 
        style="width:100%" value="{{card.data.question}}">
</div>
</div>
<script>
    templateGateway.getSpecificCardInformation = function () {
        const question = document.getElementById('question').value;
      
        const card = {
            summary: { key: "question.summary" },
            title: { key: "question.title" },
            severity: "ACTION",
            data: {
                question: question,
            }
        };
        return {
            valid: true,
            card: card,
            viewCardInAgenda: false
        };

    }
</script>