
<div class="card light-card-detail bg-dark rounded" [class.border-light]="open" (click)="select()">
    <div class="d-flex card-header p-0 border-0">
        <div class="badge-border rounded-top-left bg-sev-{{lightCard.severity.toString()|lowercase}} col-1">
        </div>
        <div class="p-1" [class.text-truncate]="!open">
            <p class="card-title" translate
                [translateParams]="lightCard.title.parameters">{{i18nPrefix + lightCard.title.key}}</p>
            <p *ngIf="this.dateToDisplay" class="card-subtitle">({{this.dateToDisplay}})</p>
        </div>
    </div>
    <div class="d-flex card-body p-0 border-0" *ngIf="open || !open">
        <div class="badge-border rounded-bottom-left bg-sev-{{lightCard.severity.toString()|lowercase}} col-1"></div>
        <div class="card-text p-1">
            <span translate [translateParams]="lightCard.summary.parameters" *ngIf="open">{{i18nPrefix + lightCard.summary.key}}</span>
                <div *ngIf="actionsAppear">
                    <of-action *ngFor="let action of getActions()"
                        [action]="action"
                        [i18nPrefix]="i18nPrefix"
                        [actionUrlPath]="actionsUrlPath"
                        [lightCardId]="lightCard.id">
                    </of-action>
                </div>
        </div>
    </div>
</div>
    