
.light-card-detail {
  max-width: 400px;
}

.card {
  margin-bottom: 5px;
  word-break: break-all;
}

.card-title {
  font-variant: small-caps;
  font-size: larger;
}

.card-subtitle {
  font-size: small;
}

.card-text {
  font-size: small;
}

.badge-border {
  width: 30px;
  text-align: center;
}
