.detail.template .summary {
    padding : 15px 0;
}

.detail.template .summary span {
    margin-bottom : 15px
}

.detail.template .breaker-status {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
    max-width: 200px;
}