
@import '../../../node_modules/bootstrap/scss/bootstrap';

$icon-font-path: "../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/" !default;
//$body-bg: #000;

/*
  Colors
 */

$sev-alarm:        #EE0000 !default;
$sev-action:       #FD9312 !default;
$sev-compliant:    #00BB00 !default;
$sev-information:  #1074AC !default;
$less-dark:        #525854 !default;

$theme-colors: map-merge(
    (
            "sev-alarm":    $sev-alarm,
            "sev-action":  $sev-action,
            "sev-information":    $sev-information,
            "sev-compliant":       $sev-compliant,
            "less-dark": $less-dark
    ),
    $theme-colors
);