server:
  port: 2102
spring:
  application:
    name: cards-publication
  deserializer:
    value:
      delegate:
        class: io.confluent.kafka.serializers.KafkaAvroDeserializer
#        class: org.opfab.cards.publication.kafka.consumer.KafkaAvroWithoutRegistryDeserializer
  serializer:
    value:
      delegate:
        class: io.confluent.kafka.serializers.KafkaAvroSerializer
#        class: org.opfab.cards.publication.kafka.producer.KafkaAvroWithoutRegistrySerializer
# uncomment kafka.consumer.group-id to enable Kafka
#  kafka:
#    consumer:
#      group-id: opfab-command

opfab:
  kafka:
    topics:
      card:
        topicname: opfab
      response-card:
        topicname: opfab-response
    schema:
      registry:
        url: http://localhost:8081

externalRecipients-url: "{\
           processAction: \"http://localhost:8090/test\", \
           api_test_externalRecipient1: \"http://localhost:8090/test\", \
           api_test_externalRecipient2: \"http://localhost:8090/test\", \
           externalRecipient1: \"http://localhost:8090/test\", \
           externalRecipient2: \"http://localhost:8090/test\", \
           userCardExamples2_externalRecipient1: \"http://localhost:8090/test\", \
           userCardExamples2_externalRecipient2: \"http://localhost:8090/test\" \
           }"

# WARNING : If you set this parameter to false , all users have the rights to respond to all cards
checkPerimeterForResponseCard: true
checkAuthenticationForCardSending: true
