version: '2.1'
services:
  rabbitmq:
    container_name: rabbit
    image: lfeoperatorfabric/of-rabbitmq:SNAPSHOT
    ports:
      - "5672:5672"
      - "15672:15672"
      - "15674:15674"
  mongodb:
    container_name: mongodb
    image: mongo:5.0.25-focal
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - "./mongodump:/dump"
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:23.0
    environment:
      # Enable health and metrics support
      - KC_HTTP_PORT=89
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HTTP_RELATIVE_PATH=/auth
    volumes:
      - ../keycloak/export:/opt/keycloak/data/import
    command:
      - -v
      - start-dev 
      - --import-realm
    ports:
      - "89:89"
  web-ui:
    container_name: web-ui
    image: "lfeoperatorfabric/of-web-ui:SNAPSHOT"
    ports:
      - "2002:80"
    volumes:
      - "./favicon.ico:/usr/share/nginx/html/favicon.ico"
      - "./ui-config:/usr/share/nginx/html/config"
      - "../../src/test/externalWebAppExample:/usr/share/nginx/html/external/appExample"
      - "./nginx.conf:/etc/nginx/conf.d/default.conf"
  ext-app:
    container_name: external-app
    image: "lfeoperatorfabric/of-external-app:SNAPSHOT"
    ports:
      - "8090:8090"
    volumes:
      - "../certificates:/certificates_to_add"
      - "./common-dev.yml:/config/common.yml"
  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - 1025:1025
      - 8025:8025

