version: '2.1'
services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
      - "15674:15674"
  mongodb:
    image: mongo:4.4.4-bionic
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
  keycloak:
    image: jboss/keycloak:6.0.1
    command: -Dkeycloak.migration.action=import -Dkeycloak.migration.provider=dir -Dkeycloak.migration.dir=/keycloak/export
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - DB_VENDOR=H2
    volumes:
      - ../keycloak:/keycloak
    ports:
      - "89:8080"
      - "90:9990"
  web-ui:
    image: "lfeoperatorfabric/of-web-ui:SNAPSHOT"
    #user: ${USER_ID}:${USER_GID}
    ports:
      - "2002:80"
    volumes:
      - "./favicon.ico:/usr/share/nginx/html/favicon.ico"
      - "./web-ui.json:/usr/share/nginx/html/opfab/web-ui.json"
      - "./ui-menu.json:/usr/share/nginx/html/opfab/ui-menu.json"
      - "../../ui/main/src/assets/i18n:/usr/share/nginx/html/assets/i18n/"
      - "./nginx.conf:/etc/nginx/conf.d/default.conf"
      - "./loggingResults:/etc/nginx/html/logging"
  ext-app:
    image: "lfeoperatorfabric/of-external-app:SNAPSHOT"
    ports:
      - "8090:8090"
