# docker-compose DNS used to resolved keycloak services
resolver 127.0.0.11 ipv6=off;

# Log format to have msec in time + request processing time 
map "$time_local:$msec" $time_local_ms { ~(^\S+)(\s+\S+):\d+\.(\d+)$ $1.$3$2; }
log_format opfab-log '$remote_addr - $time_local_ms'
                '"$request" $status $request_time $body_bytes_sent ';

server {
  listen 80;
  server_name localhost;
  access_log /var/log/nginx/access.log opfab-log;
  ### CUSTOMIZATION - BEGIN
  # Url of the Authentication provider
  set $KeycloakBaseUrl "http://keycloak:8080";
  # Realm associated to OperatorFabric within the Authentication provider
  set $OperatorFabricRealm "dev";
  # base64 encoded pair of authentication in the form of 'client-id:secret-id'
  set $ClientPairOFAuthentication "b3BmYWItY2xpZW50Om9wZmFiLWtleWNsb2FrLXNlY3JldA==" ;
  ### CUSTOMIZATION - END
  set $BasicValue "Basic $ClientPairOFAuthentication";
  set $KeycloakOpenIdConnect $KeycloakBaseUrl/auth/realms/$OperatorFabricRealm/protocol/openid-connect;
  #   enables `ng serve` mode with following default headers and avoid cors error on status other than 2xx
  add_header 'Access-Control-Allow-Origin' '*' always;
  add_header 'Access-Control-Allow-Credentials' 'true' always;
  add_header 'Access-Control-Allow-Methods' '*' always;
  add_header 'Access-Control-Allow-Headers' '*' always;
  gzip on;
  gzip_types application/javascript text/css;


  location / {
    add_header Cache-Control "no-cache";
    alias /usr/share/nginx/html/;
    index index.html index.htm;
  }
  location = /external/ {
    alias /usr/share/nginx/html/external/;
    index index.html index.htm;
  }
  location /ui/ {
    add_header Cache-Control "no-cache";
    alias /usr/share/nginx/html/;
    index index.html index.htm;
  }
  location /auth/check_token {
    proxy_set_header Host $http_host;
    proxy_set_header Authorization $BasicValue ;
    proxy_pass $KeycloakOpenIdConnect/token/introspect;
  }
  location /auth/token {
    proxy_set_header Host $http_host;
    proxy_set_header Authorization $BasicValue ;
    proxy_pass $KeycloakOpenIdConnect/token;
  }
  location /auth/code/ {
    proxy_set_header Host $http_host;
    proxy_set_header Authorization $BasicValue ;
    proxy_pass $KeycloakOpenIdConnect/auth?response_type=code&client_id=opfab-client&$args;
  }
  location /auth {
    proxy_set_header X-Forwarded-For $proxy_protocol_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $host;
    proxy_pass http://keycloak:8080/auth;
  }
  # for angular hot reload in `ng serve` mode
  location ^~ /sockjs-node/ {
    proxy_pass http://127.0.0.1:4200;
      proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_http_version 1.1;
    proxy_cache_bypass $http_upgrade;
  }

  # To be sure new files are downloaded when version change 
  # we set no-cache for json config files and for i18n files 

  location /config/web-ui.json {
    # enables `ng serve` mode
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' '*';
      add_header 'Access-Control-Allow-Headers' '*';
      add_header 'Content-Length' 0;
      add_header 'Vary' 'Origin';
      add_header 'Vary' 'Access-Control-Request-Method' ;
      add_header 'Vary' 'Access-Control-Request-Headers';
      return 204;
    }
    add_header 'Access-Control-Allow-Origin' '*' always;
    add_header 'Access-Control-Allow-Credentials' 'true' always;
    add_header 'Access-Control-Allow-Methods' '*' always;
    add_header 'Access-Control-Allow-Headers' '*' always;
    add_header Cache-Control "no-cache";
    alias /usr/share/nginx/html/opfab/web-ui.json;
  }
  location /config/ui-menu.json {
    # enables `ng serve` mode
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' '*';
      add_header 'Access-Control-Allow-Headers' '*';
      add_header 'Content-Length' 0;
      add_header 'Vary' 'Origin';
      add_header 'Vary' 'Access-Control-Request-Method' ;
      add_header 'Vary' 'Access-Control-Request-Headers';
      return 204;
    }
    add_header 'Access-Control-Allow-Origin' '*' always;
    add_header 'Access-Control-Allow-Credentials' 'true' always;
    add_header 'Access-Control-Allow-Methods' '*' always;
    add_header 'Access-Control-Allow-Headers' '*' always;
    add_header Cache-Control "no-cache";
    alias /usr/share/nginx/html/opfab/ui-menu.json;
  }
  location /ui/assets/i18n/ {
    add_header Cache-Control "no-cache";
    alias /usr/share/nginx/html/assets/i18n/;
  }

  location /businessconfig {
    # enables `ng serve` mode
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' '*';
      add_header 'Access-Control-Allow-Headers' '*';
      add_header 'Content-Length' 0;
      add_header 'Vary' 'Origin';
      add_header 'Vary' 'Access-Control-Request-Method' ;
      add_header 'Vary' 'Access-Control-Request-Headers';
      return 204;
    }
    proxy_set_header Host $http_host;
    proxy_pass http://${MY_DOCKER_HOST}:2100;
    proxy_set_header X-Forwarded-For $remote_addr;
  }

  location /users {
    # enables `ng serve` mode
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' '*';
      add_header 'Access-Control-Allow-Headers' '*';
      add_header 'Content-Length' 0;
      add_header 'Vary' 'Origin';
      add_header 'Vary' 'Access-Control-Request-Method' ;
      add_header 'Vary' 'Access-Control-Request-Headers';
      return 204;
    }
    proxy_set_header Host $http_host;
    proxy_pass http://${MY_DOCKER_HOST}:2103/users;
    proxy_set_header X-Forwarded-For $remote_addr;
  }

  location ~ "^/users/internal/(.*)" {
    return 404;
  }

  location ~ "^/users/(.*)" {
    # enables `ng serve` mode
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' '*';
      add_header 'Access-Control-Allow-Headers' '*';
      add_header 'Content-Length' 0;
      add_header 'Vary' 'Origin';
      add_header 'Vary' 'Access-Control-Request-Method' ;
      add_header 'Vary' 'Access-Control-Request-Headers';
      return 204;
    }
    proxy_set_header Host $http_host;
    proxy_pass http://${MY_DOCKER_HOST}:2103/$1;
    proxy_set_header X-Forwarded-For $remote_addr;
  }


  location  /cards/ {
    # enables `ng serve` mode
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' '*';
      add_header 'Access-Control-Allow-Headers' '*';
      add_header 'Content-Length' 0;
      add_header 'Vary' 'Origin';
      add_header 'Vary' 'Access-Control-Request-Method' ;
      add_header 'Vary' 'Access-Control-Request-Headers';
      return 204;
    }
    proxy_set_header Host $http_host;
    proxy_pass http://${MY_DOCKER_HOST}:2104/;
    proxy_set_header X-Forwarded-For $remote_addr;
  }
  location  /cardspub/cards {
    # enables `ng serve` mode
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' '*';
      add_header 'Access-Control-Allow-Headers' '*';
      add_header 'Content-Length' 0;
      add_header 'Vary' 'Origin';
      add_header 'Vary' 'Access-Control-Request-Method' ;
      add_header 'Vary' 'Access-Control-Request-Headers';
      return 204;
    }
    proxy_set_header Host $http_host;
    proxy_pass http://${MY_DOCKER_HOST}:2102/cards;
    proxy_set_header X-Forwarded-For $remote_addr;
  }
  location /archives {
    # enables `ng serve` mode
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' '*';
      add_header 'Access-Control-Allow-Credentials' 'true';
      add_header 'Access-Control-Allow-Methods' '*';
      add_header 'Access-Control-Allow-Headers' '*';
      add_header 'Content-Length' 0;
      add_header 'Vary' 'Origin';
      add_header 'Vary' 'Access-Control-Request-Method' ;
      add_header 'Vary' 'Access-Control-Request-Headers';
      return 204;
    }
    proxy_set_header Host $http_host;
    proxy_pass http://${MY_DOCKER_HOST}:2104;
    proxy_set_header X-Forwarded-For $remote_addr;
  }
  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /usr/share/nginx/html;
  }
  location /externaldevices {
      # enables `ng serve` mode
      if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' '*';
        add_header 'Access-Control-Allow-Headers' '*';
        add_header 'Content-Length' 0;
        add_header 'Vary' 'Origin';
        add_header 'Vary' 'Access-Control-Request-Method' ;
        add_header 'Vary' 'Access-Control-Request-Headers';
        return 204;
      }
      proxy_set_header Host $http_host;
      proxy_pass http://${MY_DOCKER_HOST}:2105;
      proxy_set_header X-Forwarded-For $remote_addr;
    }

    location ~ "^/externaldevices/(.*)" {
      # enables `ng serve` mode
      if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' '*';
        add_header 'Access-Control-Allow-Headers' '*';
        add_header 'Content-Length' 0;
        add_header 'Vary' 'Origin';
        add_header 'Vary' 'Access-Control-Request-Method' ;
        add_header 'Vary' 'Access-Control-Request-Headers';
        return 204;
      }
      proxy_set_header Host $http_host;
      proxy_pass http://${MY_DOCKER_HOST}:2105/$1;
      proxy_set_header X-Forwarded-For $remote_addr;
    }



  # TEST configuration
  location  /logging/ {
      # enables `ng serve` mode
      if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Methods' '*';
        add_header 'Access-Control-Allow-Headers' '*';
        add_header 'Content-Length' 0;
        add_header 'Vary' 'Origin';
        add_header 'Vary' 'Access-Control-Request-Method' ;
        add_header 'Vary' 'Access-Control-Request-Headers';
        return 204;
      }
      try_files   $uri $uri/ /logging/Empty.json;

    }
}
