<br />
<h2 style="text-align: center;"> {{card.data.question}} </h2>

<br />

<table style="width: 100%;">
    <tr>
        <td>
            Votre réponse  :
        </td>
        <td>
            <input size="50" type="text" id="response"> </input>
        </td>
    </tr>
</table>
<br/>
<br/>

<div id="childs-div"></div>


<script>

    templateGateway.applyChildCards = () => {

        if (templateGateway.childCards[0]) {
            let childsDiv = document.getElementById("childs-div");
            let responses = ' <h3>Responses reçues  </h3><center> <br/>'
            responses += ' <table width="100%""> <tr> <th> Entité </th>';
            responses += ' <th> Response </th>';
            responses += ' </tr>';

            templateGateway.childCards.forEach((c, i) => {
                console.log("data child = ", c.data);
                responses += `<tr> <td> ${c.publisher} </td>`
                responses += `<td> ${c.data.response} </td>`;
                responses += "</tr>";
            });

            responses += '</table> </center> <br/> <br/>';

            childsDiv.innerHTML = responses;
        }
    }

    templateGateway.applyChildCards();

    templateGateway.validyForm = function () {
        const response = document.getElementById('response').value;
        const formData = { response: response };
        return {
            valid: true,
            formData: formData
        };

    }
</script>

</p>