
<!-- Copyright (c) 2020, RTE (http://www.rte-france.com)              -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->

<br/>
<div class="opfab-input">
    <label for="taskDescription"> DESCRIPTION DE LA TACHE </label>
    <input size="50" type="text" id="taskDescription" value="{{card.data.taskDescription}}"> </input> 
</div>
<br/>


REPETER CHAQUE:
<br/> <br/>
<div>
    <table width="100%">
        <tr>
            <td><label class="opfab-checkbox"> LUNDI <input type="checkbox" id="Monday">   <span class="opfab-checkmark"> </span>   </label> </td>
            <td><label class="opfab-checkbox"> MARDI <input type="checkbox" id="Tuesday">   <span class="opfab-checkmark"> </span>   </label> </td>
            <td><label class="opfab-checkbox"> MERCREDI <input type="checkbox" id="Wednesday">   <span class="opfab-checkmark"> </span>   </label> </td>
            <td><label class="opfab-checkbox"> JEUDI <input type="checkbox" id="Thursday">   <span class="opfab-checkmark"> </span>   </label> </td>
            <td><label class="opfab-checkbox"> VENDREDI <input type="checkbox" id="Friday">   <span class="opfab-checkmark"> </span>   </label> </td>
            <td><label class="opfab-checkbox"> SAMEDI <input type="checkbox" id="Saturday">   <span class="opfab-checkmark"> </span>   </label> </td>
            <td><label class="opfab-checkbox"> DIMANCHE <input type="checkbox" id="Sunday">   <span class="opfab-checkmark"> </span>   </label> </td>

        </tr>
    </table>

</div>

<br/>
<br/>
<div>

    <table>
        <tr>
            <td style="width:4%">
                A :
            </td>
            <td style="width:10%">
                <div class="opfab-input">
                    <label> HEURE </label>
                    <input style="text-align:center" size="10" maxlength="2" type="text" id="hours">
                </div>
            </td>
    
            <td style="width:10%">
                <div class="opfab-input">
                    <label> MIN </label>
                    <input style="text-align:center" size="10" maxlength="2" type="text" id="minutes">
                </div>
            </td>
            <td style="width:6%">
    
            </td>
            <td style="width:32%">
                <div class="opfab-input">
                    <label> DUREE DE LA TACHE (MINUTES) </label>
                    <input size="3" maxlength="3" type="text" id="durationInMinutes" value="15">
                </div>
            </td>
            <td style="width:6%">
    
            </td>
            <td style="width:32%">
                <div class="opfab-input">
                    <label> MINUTES AVANT LA TACHE POUR LE RAPPEL</label>
                    <input size="2" maxlength="2" type="text" id="minutesForReminder" value="5">
                </div>
            </td>
        </tr>
    </table>

</div>

<br/>


<script>
    templateGateway.getSpecificCardInformation = function () {
        const taskDescription = document.getElementById('taskDescription').value;
        const hours =  document.getElementById('hours').value;
        const minutes =  document.getElementById('minutes').value;
        const minutesForReminder =  document.getElementById('minutesForReminder').value;
        const durationInMinutes =  document.getElementById('durationInMinutes').value;

       const daysOfWeek = [];
        if (document.getElementById("Monday").checked) daysOfWeek.push(1);
        if (document.getElementById("Tuesday").checked) daysOfWeek.push(2);
        if (document.getElementById("Wednesday").checked) daysOfWeek.push(3);
        if (document.getElementById("Thursday").checked) daysOfWeek.push(4);
        if (document.getElementById("Friday").checked) daysOfWeek.push(5);
        if (document.getElementById("Saturday").checked) daysOfWeek.push(6);
        if (document.getElementById("Sunday").checked) daysOfWeek.push(7);

        const recurrence = {
            daysOfWeek : daysOfWeek,
            hoursAndMinutes : {hours:hours,minutes:minutes},
            durationInMinutes: durationInMinutes
        }
      
        const card = {
            summary: { key: "task.summary" },
            title: { key: "task.title" },
            secondsBeforeTimeSpanForReminder: minutesForReminder * 60,
            data: {
                taskDescription: taskDescription,
                hours: hours,
                minutes: minutes,
                daysOfWeek: daysOfWeek,
                durationInMinutes: durationInMinutes
            }
        };
        return {
            valid: true,
            card: card,
            viewCardInAgenda: true,
            recurrence: recurrence
        };

    }
</script>