<div class="modal-header bg-dark">
    <h4 class="modal-title" id="modal-title">Action Status Changed</h4>
    <button type="button" class="close light" aria-describedby="modal-title" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body bg-dark">
    <p><strong>The status of the Action your are about to perform has <span class="text-primary">changed"</span> </strong></p>
    <p>Either you send another time the action or you just update the new status.
        <span class="text-danger">This operation can not be undone.</span>
    </p>
</div>
<div class="modal-footer bg-dark">
    <button type="button" class="btn btn-outline-primary" (click)="cancel()">Save action</button>
    <button type="button" class="btn btn-outline-secondary" (click)="ok()">Send action anyway</button>
</div>
