<ng-template #testPopContent>This is '{{action.label}}'<br>
    <button type="button" class="btn btn-outline-secondary" (click)="submit()" >ok</button>
</ng-template>
<ng-template #testPopTitle>Action !</ng-template>
<button type="button"
        class="btn btn-primary btn-sm mr-2"
        placement="auto"
        translate
        [translateParams]="action.label.parameters"
        [ngbPopover]="testPopContent"
        [popoverTitle]="testPopTitle"
        >{{i18nPrefix+action.label.key}}</button>
