<form id='opfab-form'>
  <div class="form-row mt-3">
    <div class="form-group col-md-4">
      <label for="opfabOpinion">Que pensez-vous d'OpFab ?</label>
      <select id="opfabOpinion" name="opfabOpinion" class="form-control">
        <option selected>C'est top</option>
        <option>C'est bien</option>
        <option>C'est nul</option>
      </select>
    </div>
  </div>
</form>

<div id="childs-div"></div>

<script>

  var childCards = {{json childCards}};
  templateGateway.childCards = childCards;

  function validateResponse(opfabOpinion) {
    if (opfabOpinion == 'C\'est nul') {
      templateGateway.formErrorMsg = 'Cette réponse n\'est pas acceptable';
      return false;
    } else {
      return true;
    }
  }

  templateGateway.applyChildCards = () => {
    let childsDiv = document.getElementById("childs-div");
    childsDiv.innerHTML = '<p>Réponses:</p>';
    templateGateway.childCards.forEach( (c, i) => {
      let text = `<p>L'opinion d'OpFab de l'entité ${c.publisher}: ${c.data.opfabOpinion}</p>`;
      childsDiv.innerHTML += text;
  }

  templateGateway.applyChildCards();

  templateGateway.getUserResponse = function(responseCardData) {
    if (validateResponse(responseCardData.opfabOpinion[0])) {
      this.isValid = true;
    } else {
      this.isValid = false;
    }
  }

</script>
