<form id='opfab-form'>
  <div class="form-row mt-3">
    <div class="form-group col-md-4">
      <label for="opfabOpinion">Que pensez-vous d'OpFab ?</label>
      <select id="opfabOpinion" name="opfabOpinion" class="form-control">
        <option selected>C'est top</option>
        <option>C'est bien</option>
        <option>C'est nul</option>
      </select>
    </div>
  </div>
</form>

<div id="childs-div">

  <p>Réponses:</p>

  {{#if childCards.length}}
    {{#each childCards}}
      <p>L'opinion d'OpFab de l'entité {{this.publisher}}: {{this.data.opfabOpinion.[0]}}</p>
    {{/each}}
  {{/if}}
</div>

<script>

  function validateResponse(opfabOpinion) {
    if (opfabOpinion == 'C\'est nul') {
      ext_form.formErrorMsg = 'Cette réponse n\'est pas acceptable';
      return false;
    } else {
      return true;
    }
  }

  ext_form.applyChildCards = () => {
    ext_form.childCards.forEach( (c, i) => {
      let text = `<p>L'opinion d'OpFab de l'entité ${c.publisher}: ${c.data.opfabOpinion}</p>`;
      let childsDiv = document.getElementById("childs-div");
      childsDiv.innerHTML = '<p>Réponses:</p>';
      childsDiv.innerHTML += text;
    });
  }

  ext_form.validyForm = function(formData) {
    if (validateResponse(formData.opfabOpinion[0])) {
      this.isValid = true;
    } else {
      this.isValid = false;
    }
  }

</script>
