
name: CI

on:
  # Triggers the workflow on push 
  push:
    branches:
      - develop
      - master
      - '**release'
      - '**hotfixes'
  pull_request:
  schedule:
    # launch a build every day on develop
    - cron:  '0 22 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      build:
        description: 'Build'
        required: false 
        default: 'true'
      karate:
        description: 'Karate tests'
        required: false
        default: 'true'
      cypress:
        description: 'Cypress Tests'
        required: false
        default: 'true'
      doc:
        description: 'Build and publish documentation '     
        required: false
        default: 'false'
      docLatest:
        description: 'Build and publish documentation - Latest'     
        required: false
        default: 'false'
      dockerPush:
        description: 'Docker push'     
        required: false
        default: 'false'      
      dockerPushLatest:
        description: 'Docker push - Latest'     
        required: false
        default: 'false'  
jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.dockerPush  != 'true' && github.event.inputs.dockerPushLatest  != 'true' &&  github.event.inputs.doc  != 'true' && github.event.inputs.docLatest  != 'true' && github.event_name != 'schedule' && github.ref_name != 'master' }}
    steps:
      - uses: actions/checkout@v2
      
      - name: Job  status
        run: | 
          export OF_VERSION=$(<VERSION)
          echo "----------------------------"
          echo "Trigger by  : ${{ github.event_name }}"
          echo "On branch : ${{ github.ref_name }} "
          echo "PR source branch : ${{ github.head_ref }} " 
          echo "PR target branch : ${{ github.base_ref }} " 
          echo "Opfab Version : ${OF_VERSION}"
          echo "---------------------------"
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('gradle.properties','**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
     
      # Install all required tools 
      - name: Install 
        run: |
          curl -s "https://get.sdkman.io" | bash ;
          echo sdkman_auto_answer=true > $HOME/.sdkman/etc/config ;
          echo sdkman_auto_selfupdate=true >> $HOME/.sdkman/etc/config ;
          source $HOME/.sdkman/bin/sdkman-init.sh;
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
          source ./bin/load_environment_light.sh;
          sudo apt-get install jq
          echo "npm version $(npm -version)"
          echo "node version $(node --version)"
          sdk version
          javac -version
          git config --global user.email "opfabtech@gmail.com" 
          git config --global user.name "OpfabTech"

      - name: Build
        if: ${{ github.event.inputs.build  == 'true' || github.event_name == 'schedule' || github.event_name == 'pull_request' || github.event_name == 'push'}}
        run: | 
          export OF_VERSION=$(<VERSION)
          echo ${{ secrets.DOCKER_TOKEN }} | docker login --username opfabtravis --password-stdin
          docker-compose -f src/main/docker/test-environment/docker-compose.yml up -d
          ./gradlew --build-cache copyDependencies test jacocoTestReport sonarqube dockerTag${OF_VERSION}
          docker-compose -f src/main/docker/test-environment/docker-compose.yml down
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # SonarCloud access token should be generated from https://sonarcloud.io/account/security/
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  

      - name: Karate tests
        if: ${{ github.event.inputs.karate  == 'true' || github.event_name == 'schedule' || github.event_name == 'pull_request' || github.event_name == 'push' }}
        run: |
          cd config/docker
          ./docker-compose.sh
          cd ../../bin
          ./waitForOpfabToStart.sh
          cd ../src/test/api/karate
          ./launchAll.sh
          cd ../../../../config/docker
          docker-compose down --remove-orphans

      - name: Cypress tests 
        if: ${{ github.event.inputs.cypress  == 'true' || github.event_name == 'schedule' || github.event_name == 'pull_request' || github.event_name == 'push' }}
        run: |
          cd config/docker
          ./docker-compose-cypress.sh
          cd ../../bin
          ./waitForOpfabToStart.sh
          cd ../
          ./gradlew runCypressTests
          cd config/docker
          docker-compose down


  publish:
    runs-on: ubuntu-latest
    environment: publishVersion
    if: ${{ github.event.inputs.dockerPush  == 'true' || github.event.inputs.dockerPushLatest  == 'true'  ||  github.event.inputs.doc  == 'true' || github.event.inputs.docLatest  == 'true' || github.event_name == 'schedule' || github.ref_name == 'master' }}
    steps:
      - uses: actions/checkout@v2
    
      - name: Job  status
        run: | 
          export OF_VERSION=$(<VERSION)
          echo "----------------------------"
          echo "Trigger by  : ${{ github.event_name }}"
          echo "On branch : ${{ github.ref_name }} "
          echo "PR source branch : ${{ github.head_ref }} " 
          echo "PR target branch : ${{ github.base_ref }} " 
          echo "Opfab Version : ${OF_VERSION}"
          echo "---------------------------"
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('gradle.properties','**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
     
      # Install all required tools 
      - name: Install 
        run: |
          curl -s "https://get.sdkman.io" | bash ;
          echo sdkman_auto_answer=true > $HOME/.sdkman/etc/config ;
          echo sdkman_auto_selfupdate=true >> $HOME/.sdkman/etc/config ;
          source $HOME/.sdkman/bin/sdkman-init.sh;
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
          source ./bin/load_environment_light.sh;
          sudo apt-get install jq
          echo "npm version $(npm -version)"
          echo "node version $(node --version)"
          sdk version
          javac -version
          git config --global user.email "opfabtech@gmail.com" 
          git config --global user.name "OpfabTech"

      - name: Build
        if: ${{ github.event.inputs.build  == 'true' || github.event_name == 'schedule' || github.event_name == 'pull_request' || github.event_name == 'push'}}
        run: | 
          export OF_VERSION=$(<VERSION)
          echo ${{ secrets.DOCKER_TOKEN }} | docker login --username opfabtravis --password-stdin
          docker-compose -f src/main/docker/test-environment/docker-compose.yml up -d
          ./gradlew --build-cache copyDependencies test jacocoTestReport sonarqube dockerTag${OF_VERSION}
          docker-compose -f src/main/docker/test-environment/docker-compose.yml down
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # SonarCloud access token should be generated from https://sonarcloud.io/account/security/
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Karate tests
        if: ${{ github.event.inputs.karate  == 'true' || github.event_name == 'schedule' || github.event_name == 'pull_request' || github.event_name == 'push' }}
        run: |
          cd config/docker
          ./docker-compose.sh
          cd ../../bin
          ./waitForOpfabToStart.sh
          cd ../src/test/api/karate
          ./launchAll.sh
          cd ../../../../config/docker
          docker-compose down --remove-orphans

      - name: Cypress tests 
        if: ${{ github.event.inputs.cypress  == 'true' || github.event_name == 'schedule' || github.event_name == 'pull_request' || github.event_name == 'push' }}
        run: |
          cd config/docker
          ./docker-compose-cypress.sh
          cd ../../bin
          ./waitForOpfabToStart.sh
          cd ../
          ./gradlew runCypressTests
          cd config/docker
          docker-compose down

      - name : Publish Documentation
        if : ${{ github.event.inputs.doc  == 'true' || github.event_name == 'schedule'}}
        run: |
          ./gradlew --build-cache generateSwaggerUI asciidoctor;
          ./CICD/github/upload_doc.sh
        env:
          GH_DOC_TOKEN: ${{ secrets.GH_DOC_TOKEN}}

      - name : Publish Documentation (latest)
        if : ${{ github.event.inputs.docLatest  == 'true' || github.ref_name == 'master'}}
        run: |
          ./gradlew --build-cache generateSwaggerUI asciidoctor;
          ./CICD/github/upload_doc.sh --updateLatest true
        env:
          GH_DOC_TOKEN: ${{ secrets.GH_DOC_TOKEN}}

      - name : Push images to dockerhub 
        if: ${{ github.event.inputs.dockerPush  == 'true' || github.event_name == 'schedule' || github.ref_name == 'master' }}
        run: |
          echo ${{ secrets.DOCKER_TOKEN }} | docker login --username opfabtravis --password-stdin
          docker images --format "{{.Repository}}:{{.Tag}}" | grep lfe | while read image; do 
          echo push ${image}
          docker push ${image}
          done

      - name : Push images latest to dockerhub 
        if: ${{ github.event.inputs.dockerPushLatest  == 'true'  || github.ref_name == 'master'  }}
        run: |
          echo ${{ secrets.DOCKER_TOKEN }} | docker login --username opfabtravis --password-stdin
          docker images --format "{{.Repository}}:{{.Tag}}" | grep lfe | while read image; do 
          export repository=$(echo ${image} | cut -d ":" -f 1)
          echo "create tag latest for ${repository}"
          docker tag ${image}  ${repository}:latest
          docker push ${repository}:latest
          done

